@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer base {
  h1 {
    @apply text-2xl;
  }

  h2 {
    @apply text-xl;
  }

  h3 {
    @apply text-lg;
  }

  /* a {
    @apply text-blue-600 underline;
  } */
}

@font-face {
  font-family: Alegreya;
  src: url('/fonts/Alegreya/Alegreya-Italic-VariableFont_wght.ttf');
  font-style: italic;
  font-weight: normal;

}

@font-face {
  font-family: Alegreya;
  src: url('/fonts/Alegreya/Alegreya-VariableFont_wght.ttf');
  font-weight: 300;

}

@font-face {
  font-family: OpenDyslexic;
  src: url('/fonts/OpenDyslexic2_Windows_MacOS_Linux_OTF/OpenDyslexic-Bold.otf');
  font-weight: bold;

}

@font-face {
  font-family: OpenDyslexic;
  src: url('/fonts/OpenDyslexic2_Windows_MacOS_Linux_OTF/OpenDyslexic-BoldItalic.otf');
  font-weight: bold;
  font-style: italic;

}

@font-face {
  font-family: OpenDyslexic;
  src: url('/fonts/OpenDyslexic2_Windows_MacOS_Linux_OTF/OpenDyslexic-Italic.otf');
  font-weight: 300;
  font-style: italic;

}

@font-face {
  font-family: OpenDyslexic;
  src: url('/fonts/OpenDyslexic2_Windows_MacOS_Linux_OTF/OpenDyslexic-Regular.otf');
  font-weight: 300;
  font-style: normal;

}

html,
body,
#__nuxt,
#__layout {
  height: 100%;
}

:root {
  --font-size: 1rem;
  --font-family: 'Alegreya', 'Helvetica', 'Arial', 'sans-serif';
  --contrast-type: 'normal';
  --font-weight: 400;
  --font-weight-multiplier: 1;
  --letter-spacing: 0;

}

strong,
b,
th,
h1,
h2,
h3,
h4,
h5,
h6 {
  --font-weight: 700;
  /* font-family: var(--font-family); */
}


@media (prefers-color-scheme: dark) and (-webkit-min-device-pixel-ratio: 2),
(prefers-color-scheme: dark) and (min-resolution: 192dpi) {
  :root {
    --font-weight-multiplier: .92;
    --letter-spacing: .02ch;
  }
}


body {
  font-weight: calc(var(--font-weight, 400) * var(--font-weight-multiplier, 1));
  letter-spacing: var(--letter-spacing, 0);
  font-size: var(--font-size);
  font-family: var(--font-family);
}


.page-content {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100%;
}

#main-content {
  flex: 2 1 auto;
}

footer {
  flex-shrink: 0;
}

.snipcart {
  z-index: 50;
}
